.sign-up-block{
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 3rem 4%;
  max-width: 50rem;

  .head{
    text-align: center;
    font-size: 2.2rem;
    color: #333;
    letter-spacing: 0.21rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }
  .change-action{
    font-size: 1.4rem;
    color: #787878;
    letter-spacing: 0.11rem;
    text-align: center;
    margin-bottom: 4rem;

    a{
      color: #8217ff;
      cursor: pointer;

      &:hover{
        text-decoration: underline;
      }
    }
  }
  .message{
    font-size: 1.4rem;
    line-height: 1.5;
    color: #787878;
    letter-spacing: 0.1rem;

    &.mandatory {
      margin-top: 2.6rem;
      margin-bottom: 1.5rem;
    }

    a{
      color: #8217ff;
      cursor: pointer;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .next-button {
    margin-top: 1.5rem;

    .btn{
      padding: 1.5rem 3.2rem;
    }
  }
}
