.checkout-summary{

  .top-button{
    text-align: right;
    margin-bottom: 4rem;
  }
}

/** Mobile only **/

.checkout-summary-note--mobile {
  text-align: center;
  padding-top: 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #636363;
}
