.back-line{
  background: #e3e3e3;
  padding: 1.8rem 2.3rem;
  margin-top: 12rem;
}

@media screen and (max-width: 850px) {
  .back-line {
    padding: 0 5%;
    margin-top: 1.6rem;
    background: none;

    .btn.white{
      width: 100%;
      padding: 1.3rem 1rem;
    }
  }
}
