.order-footer{
  background: #e3e3e3;
  padding: 1.8rem 2.3rem;
  display: flex;

  div.left{
    flex-grow: 1;
  }

  .right{
    > img{
      vertical-align: middle;
      margin-right: 4.3rem;
      width: 3.6rem;
      height: 3.6rem;
    }
  }
}
