.page-footer{
  display: flex;
  justify-content: center;
  margin-top: 9rem;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;

  a{
    padding: 2.5rem 0;
    margin: 0 2rem;
    color: #333;
    text-decoration: none;
    cursor: pointer;

    &:hover{
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 850px) {
  .page-footer{
    display: block;
    margin-top: 4.7rem;

    a{
      margin: 0;
      display: block;
      padding: 2rem 0 2rem 6%;
      border-top: 1px solid #c3c3c3;
      text-decoration: none;
      position: relative;

      &:after{
        content: '.';
        display: block;
        position: absolute;
        color: #fff;
        top: 2.4rem;
        right: 4rem;
        width: 1rem;
        height: 1rem;
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
        border-radius: 0 0 3px 0;
        transform: rotate(-45deg);
        text-align: center;
        font-size: 0;
      }

      &:hover{
        text-decoration: none;
        background: #f2f2f2;
      }
    }

    a:first-child{
      border-top: none;
    }
  }
}
