.country-field{
  display: flex;
  align-items: center;
  margin-bottom: 2.6rem;

  .label{
    font-size: 1.4rem;
    color: #333;
    letter-spacing: 0.14rem;
    text-transform: uppercase;
    margin-right: 1.1rem;
  }

  select{
    width: 22rem;
    height: 4rem;
  }
}
