.confirmation-page{
  min-height: 100vh;
  display: flex;

  > div{
    padding: 20vh 0;
  }

  > .white{
    flex-grow: 1;
    padding: 20vh 3vw;
  }

  .head{
    max-width: 53rem;
    margin: 0 auto 15vh;
    font-weight: bold;
    font-size: 2.2rem;
    letter-spacing: 0.11rem;
    color: #494949;

    img{
      vertical-align: middle;
      margin-right: 2vw;
    }
  }

  .next-text{
    max-width: 53rem;
    margin: 0 auto 15vh;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #494949;
    letter-spacing: 0.08rem;
    text-align: center;
  }

  .store-button{
    max-width: 41rem;
    margin: 0 auto;
    text-align: center;

    a{
      max-width: 31rem;
      margin: 0 auto 2rem;
      display: block;
      height: 4.7rem;
      line-height: 4.9rem;
      background: #D8D8D8;
      border-radius: 0.5rem;
      text-decoration: none;
      font-weight: 500;
      font-style: italic;
      font-size: 1.6rem;
      color: #333;
      letter-spacing: 0.21rem;
      text-align: center;
      padding-top: 0.2rem;
    }

    .text{
      text-align: center;
      color: #494949;
      font-size: 1.6rem;
      letter-spacing: 0.08rem;
    }
  }

}
